.banner-principal {
  height: 500px; /* Altura fixa */
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-image {
  width: 100%; /* A imagem ocupa toda a largura disponível */
  height: 500px; /* Ajusta a altura proporcional à largura */
  object-fit: content; /* Mantém a proporção da imagem e cobre todo o espaço disponível */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .banner-image {
    max-height: 300px; /* Remove o limite de altura para dispositivos móveis */
  }
}

@media (max-width: 480px) {
  .banner-principal {
    padding: 0; /* Remove espaçamentos extras no container para telas muito pequenas */
  }

  .banner-image {
    width: 100%; /* Garante que ocupe a largura total */
    height: auto; /* Altura proporcional à largura */
  }
}
