body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SubHeader {
  background-image: url("../vitrais.png");
  background-size: cover;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%; /* Garante que o SubHeader ocupe toda a largura da tela */
  box-sizing: border-box; /* Garante que o padding não ultrapasse a largura da tela */
}

.logomarcaTop {
  height: 13vh;
  margin: 0;
  padding-left: 100px;
}

.logomarcaDivino {
  height: 13vh;
  padding-right: 100px;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .SubHeader {
  max-width: 100%; /* Garante que o SubHeader não fique maior que a tela */
  padding: 10px; /* Adiciona espaçamento proporcional */
}


  .logomarcaTop {
    margin: 0 auto; 
  }
  .logomarcaDivino {
    margin: 0 auto; 
  }
}

/* Responsividade para telas menores que 480px */
/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
  .SubHeader {
    display: flex;
    justify-content: center; /* Centraliza as imagens no eixo vertical */
    align-items: center; /* Centraliza as imagens no eixo horizontal */
    width: 100%; /* Garante que ocupe toda a largura da tela */
    padding: 10px; /* Ajusta o espaçamento */
  }

  .logomarcaTop {
    max-height: 10vh; /* Limita a altura máxima proporcional */
    height: auto; /* Mantém a proporção original */
    width: auto; /* Mantém a proporção original */
    max-width: 80%; /* Limita a largura para as imagens não ficarem grandes demais */
    margin-right: 100px; /* Espaço entre as logomarcas */
  }

  .logomarcaDivino {
    display: none;
  }
}


