body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SubHeader {
  background-color: #000000;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  width: 100%; /* Garante que o SubHeader ocupe toda a largura da tela */
  box-sizing: border-box; /* Garante que o padding não ultrapasse a largura da tela */
}

.logomarcaTop {
  height: 12vh;
  margin: 0;
  padding-left: 100px;
  margin-left: 100px;
}

.logomarcaDivino {
  width: 150px;
  padding-right: 0;
  margin-right: 100px;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .SubHeader {
  max-width: 100%; /* Garante que o SubHeader não fique maior que a tela */
  padding: 10px 5%; /* Adiciona espaçamento proporcional */
}


  .logomarcaTop {
    margin-left: 0; 
  }
  .logomarcaDivino {
    margin-right: 0; 
  }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
  .logomarcaTop {
    height: 8vh;
    margin: 10px 0;
  }

  .logomarcaDivino {
    width: 100px;
    margin: 10px 0;
  }

  .SubHeader {
    width: 100%; /* Garante que ocupe toda a largura da tela */
    padding: 10px 5px; /* Ajusta o espaçamento */
  }
}
