.videos-destaque {
  text-align: center;
  padding: 10px;
  background-color: #1B1B1B;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas grandes */
  gap: 20px;
  margin-top: 20px;
}

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-card iframe {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

/* Título do vídeo */
.video-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #333; /* Ajustei a cor para garantir melhor visibilidade */
  text-align: center;
}

/* Responsividade */

/* Para telas grandes, como desktops */
@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas médias */
  }
}

/* Para tablets e telas menores que 900px */
@media (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas pequenas */
  }
}

/* Para dispositivos móveis com telas menores que 600px */
@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 coluna em telas muito pequenas */
  }

  .video-card iframe {
    height: 150px; /* Ajusta a altura dos vídeos para telas menores */
  }

  /* Ajuste no título do vídeo para melhorar a legibilidade */
  .video-title {
    font-size: 0.9rem; /* Reduz o tamanho da fonte em telas pequenas */
  }
}
