

body {
  margin: 0;
  font-family: MADE TOM,Y, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Limita o tamanho da tela a 427px */
@media (max-width: 427px) {
  body {
    overflow-x: hidden; /* Impede o deslocamento horizontal caso a tela seja menor */
  }

  .App {
    width: 100%; /* Ajusta a largura do container principal */
    max-width: 427px; /* Define a largura máxima da tela */
    margin: 0 auto; /* Centraliza o conteúdo */
  }
}